<template>
  <v-container grid-list-md class="grey" fluid ref="container">
    <v-stepper v-if="started" v-model="curNodeId" :style="{ 'min-height': pageMinHeight }">
      <v-stepper-header>
        <template v-for="n in trail">
          <v-stepper-step :key="`${n}-node`" :complete="n !== last || leaf" :step="n" editable>
            <span v-if="n === last && leaf">{{ curNode.species }}</span>
            <span v-else>Couplet {{ n }}</span>
          </v-stepper-step>
          <v-divider v-if="!leaf || n !== last" :key="n"></v-divider>
        </template>
        <v-stepper-step v-if="!leaf" :complete="false" :step="'...'"></v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content v-for="node in content.nodes" :key="node.id" :step="node.id">
          <!-- Couplet pages -->
          <couplet v-if="node.id < content.speciesStartIndex" :left="node.left.id" :right="node.right.id" @next="onNext">
            <template #left>
              <choice-panel :node="node" child='left' @active-char="activeCharLeft = $event"></choice-panel>
            </template>
            <template #left-imgs>
              <template v-for="decor in node.left.decorators">
                <v-card :key="decor.file" :elevation="decor.decorate && decor.decorate.includes(activeCharLeft) ? 12 : 0" class="decorator"
                  :class="{ 'mt-2' : decor !== node.left.decorators[0], 'active-decorator': decor.decorate && decor.decorate.includes(activeCharLeft) }"
                >
                <v-img-lazy v-if="decor.type === 'img'"
                    :src="`${content.imgBase}${decor.file}`"
                    contain :alt="decor.file"></v-img-lazy>
                </v-card>
              </template>
            </template>
            <template #right>
              <choice-panel :node="node" child='right' @active-char="activeCharRight = $event"></choice-panel>
            </template>
            <template #right-imgs>
              <template v-for="decor in node.right.decorators">
                <v-card :key="decor.file" :elevation="decor.decorate && decor.decorate.includes(activeCharRight) ? 12 : 0" class="decorator"
                  :class="{ 'mt-2' : decor !== node.right.decorators[0], 'active-decorator': decor.decorate && decor.decorate.includes(activeCharRight) }"
                >
                <v-img-lazy v-if="decor.type === 'img'"
                    :src="`${content.imgBase}${decor.file}`"
                    contain :alt="decor.file"></v-img-lazy>
                </v-card>
              </template>
            </template>
          </couplet>

          <!-- Species pages -->
          <v-layout v-else text-xs-center wrap>
            <v-flex mb-3 xs12>
              <h1 class="display-2 font-weight-bold mb-3"><i>{{ node.species }}</i></h1>
            </v-flex>

            <v-flex xs12 md5 ml-auto>
              <v-img-lazy v-if="node.img" :src="`${content.imgBase}${node.img}`" contain></v-img-lazy>
            </v-flex>
            <v-flex xs12 md4 mr-auto text-xs-left :class="{ 'ml-5': $vuetify.breakpoint.mdAndUp }">
              <strong>Range: </strong>{{ node.range }}
            </v-flex>
          </v-layout>
        </v-stepper-content>

        <!-- Pages under construction -->
        <v-stepper-content v-for="id in [14, 15]" :key="id" :step="id">
          <v-img-lazy :src="require('../assets/uc.jpg')" contain></v-img-lazy>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

    <!-- Start page -->
    <v-layout v-else :style="{ 'min-height': pageMinHeight }" column white justify-center text-xs-center>
      <v-flex xs4>
        <v-layout justify-center>
          <v-flex xs6 md4>
          <v-img :src="require('../assets/Mega.png')" contain />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs4>
        <h1 class="font-weight-light"
          :class="{ 'display-3': $vuetify.breakpoint.smAndUp, 'display-1': $vuetify.breakpoint.xsOnly }"
        ><i>Megalomyrmex</i> Worker<br>Taxonomic Key</h1>
      </v-flex>
      <v-flex xs4>
        <v-btn dark @click="onStart" class="start-btn">Start</v-btn>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
import Couplet from '../components/Couplet'
import ChoicePanel from '../components/ChoicePanel'
import vImgLazy from '../components/v-img-lazy'
import content from '../assets/data/mega-worker-key.json'

export default {
  components: {
    Couplet,
    ChoicePanel,
    vImgLazy
  },

  data: () => ({
    curNodeId: 1,
    trail: [1],               // the trail to the current node
    activeCharLeft: null,     // activated characters in the left panel
    activeCharRight: null,    // activated characters in the right panel
    verticalBuffer: 0,        // vrtical space used by non-page elements
    started: false            // has the key been started
  }),

  computed: {
    // accessor for the key data
    content () {
      return content
    },

    // the id of the lasy node in the trail
    last () {
      return this.trail[this.trail.length - 1]
    },

    // is the currect node a leaf
    leaf () {
      return this.curNodeId >= this.content.speciesStartIndex
    },

    curNode () {
      return this.content.nodes.find(node => node.id === this.curNodeId)
    },

    // min page height for a fullscreen feel
    pageMinHeight () {
      return `calc(100vh - ${this.verticalBuffer}px)`
    }
  },

  provide: {
    content: content
  },

  watch: {
    curNodeId () {
      // sync the trail if the user goes back to a previous node
      while (this.curNodeId !== this.last) {
        this.trail.pop()
      }
    }
  },

  methods: {
    onStart () {
      this.started = true
      this.$emit('start')
    },

    onNext (node) {
      this.curNodeId = node
      this.trail.push(node)
    },

    // go to page 1
    reset () {
      this.curNodeId = 1
      this.trail = [1]
      this.activeCharLeft = null
      this.activeCharRight = null
    },

    glosserizeContent () {
      if (this.content.glossary) {
        this.content.nodes.forEach(node => {
          if (node.id < this.content.speciesStartIndex) {
            node.characters.forEach(char => {
              this.glosserizeBranch(node.left, char.id)
              this.glosserizeBranch(node.right, char.id)
            })
          }
        })
      }
    },

    glosserizeBranch (obj, charId) {
      let char = obj[charId]
      if (char) {
        let parts = this.glosserize(char.brief)
        if (parts.length > 1)
          char.briefHtml = parts

        if (char.full) {
          parts = this.glosserize(char.full)
          if (parts.length > 1)
            char.fullHtml = parts
        }
      }
    },

    /*glosserize (str) {
      let workStr = str
      for (let term in this.content.glossary) {
        let parts = workStr.split(term)
        workStr = parts.join(`<span class='glossary-term'>${this.content.glossary[term].expansion}</span>`)
      }
      return workStr
    }*/

    glosserize (str) {
      let parts = [{ 'type': 'text', 'content': str }]
      for (let term in this.content.glossary) {
        let re = new RegExp(`\\b${term}\\b`)
        let newParts = []
        for (let part of parts) {
          if (part.type === 'text') {
            let frases = part.content.split(re)
            newParts.push({ 'type': 'text', 'content': frases[0] })
            for (let i = 1; i < frases.length; ++i) {
              newParts.push({ 'type': 'term', 'content': term })
              newParts.push({ 'type': 'text', 'content': frases[i] })
            }
          } else {
            newParts.push(part)
          }
        }
        parts = newParts
      }
      return parts
    },
  },

  mounted () {
    // full screen stepper = 100vh - toolbar - vertical padding
    this.verticalBuffer = parseInt(this.$refs.container.getBoundingClientRect().top)
    let style = getComputedStyle(this.$refs.container)
    // remove 'px' from the end of the values
    this.verticalBuffer += parseInt(style.getPropertyValue('padding-top').slice(0, -2))
    this.verticalBuffer += parseInt(style.getPropertyValue('padding-bottom').slice(0, -2))

    this.glosserizeContent()
  }
}
</script>

<style lang="scss" scoped>
// border to highlight active decorators
.decorator {
  border: 1px solid white;
  &.active-decorator {
    border: 1px solid lightsalmon;
  }
}

// hack around vuetify funk
.start-btn /deep/ .v-btn__content {
  padding: 0px 24px;
}
</style>
