<template>
  <div>
  <v-expansion-panel expand v-model="charsExpanded" class="choice-panel">
    <v-expansion-panel-content
      v-for="(char, i) in node.characters"
      :key="char.id"
      expand-icon="$vuetify.icons.dropdown"
      :hide-actions="!childNode[char.id].full"
      :readonly="!childNode[char.id].full"
      @mouseenter.native="$emit('active-char', char.id)"
      @mouseleave.native="$emit('active-char', null)"
    >
      <template #header>
        <div :class="{ 'header-only': !childNode[char.id].full }">
          <strong>{{ char.name }}</strong>:
          <span v-if="!charsExpanded[i]">
            <!-- brief with parts (glossary terms) -->
            <span v-if="childNode[char.id].briefHtml">
              <span v-for="(part, i) in childNode[char.id].briefHtml" :key="i">
                <span v-if="part.type === 'text'">{{ part.content }}</span>
                <!-- glossary term -->
                <span v-else-if="part.type === 'term'"
                  ref="terms"
                  class="glossary-term"
                  @click.stop="onTermClick($event, part.content)"
                  v-click-outside="{ handler: onTermClickOutside, isActive: popup }"
                >{{ part.content }}</span>
              </span>
            </span>
            <!-- simple brief - no glossary terms -->
            <span v-else>{{ childNode[char.id].brief }}</span>
          </span>
        </div>
      </template>

      <!-- main content - full character description -->
      <span v-if="childNode[char.id].full">
        <!-- full with parts (glossary terms) -->
        <span v-if="childNode[char.id].fullHtml">
          <span v-for="(part, i) in childNode[char.id].fullHtml" :key="i">
            <span v-if="part.type === 'text'">{{ part.content }}</span>
            <!-- glossary term -->
            <span v-else-if="part.type === 'term'"
              class="glossary-term"
              @click.stop="onTermClick($event, part.content)"
              v-click-outside="{ handler: onTermClickOutside, isActive: popup }"
            >{{ part.content }}</span>
          </span>
        </span>
        <!-- simple full - no glossary terms -->
        <span v-else>{{ childNode[char.id].full }}</span>
      </span>
    </v-expansion-panel-content>
  </v-expansion-panel>
  <xv-popper-js :reference="popupRef" :show="popup">
    <div class="font-weight-bold pb-1">{{ popupTitle }}</div>
    {{ popupText }}
  </xv-popper-js>
  </div>
</template>

<script>
import vClickOutside from 'v-click-outside'
import xvPopperJs from './xv-popper.js'

export default {
  directives: {
    clickOutside: vClickOutside.directive
  },
  components: { xvPopperJs },

  inject: ['content'],

  data: () => ({
    charsExpanded: [],
    popup: false,
    popupTitle: '',
    popupText: '',
    popupRef: null
  }),

  props: {
    node: {
      type: Object,
      required: true
    },
    child: {
      type: String,
      required: true
    }
  },

  computed: {
    childNode () {
      return this.node[this.child]
    }
  },

  mounted () {
  },

  methods: {
    onTermClick (event, term) {
      // check to make sure this is from our v-html because
      // we don't want to handle clicks from other things
      /*if (!event.target.classList.contains('glossary-term'))
        return*/
      this.popupTitle = this.content.glossary[term].expansion
      this.popupText = this.content.glossary[term].content
      this.popupRef = event.target
      this.popup = true
    },

    onTermClickOutside () {
      this.popupRef = null
      this.popup = false
    }
  }
}
</script>

<style lang="scss" scoped>
// Styles to fix expansion panel's issues
.v-expansion-panel .v-expansion-panel__container {
  background-color: unset;
  border-top: unset;
}

.header-only {
  cursor: default;
}

.choice-panel {
  box-shadow: unset;

  & /deep/ .v-expansion-panel__header {
    padding: 0;
    min-height: unset;
    align-items: flex-start;
  }
}

.glossary-term {
  border-bottom: 1px dashed #1976d2;
  cursor: pointer;

  &:hover {
    color: #1976d2;
  }
}
</style>
