<template>
  <v-layout text-xs-center wrap>
    <v-flex mb-5 xs12 px-2 mx-auto>
      <v-layout text-xs-left wrap>
        <v-flex xs12 md2 lg3>
          <slot name="left-imgs"></slot>
        </v-flex>
        <v-flex xs12 md4 lg3>
          <lead-card @next="$emit('next', left)">
            <slot name="left"></slot>
          </lead-card>
        </v-flex>
        <v-flex xs12 md4 lg3>
          <lead-card @next="$emit('next', right)">
            <slot name="right"></slot>
          </lead-card>
        </v-flex>
        <v-flex xs12 md2 lg3>
          <slot name="right-imgs"></slot>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import LeadCard from './LeadCard'

export default {
  components: {
    LeadCard
  },
  props: {
    left: {
      type: Number,
      required: true
    },
    right: {
      type: Number,
      required: true
    }
  }
}
</script>

<style>
</style>
