<template>
  <v-card color="blue lighten-4" height="100%">
    <v-layout column justify-space-between fill-height mx-0 my-0>
      <v-card-text class="choice-body pr-1">
        <slot></slot>
      </v-card-text>
      <v-card-actions>
        <v-btn block color="secondary" dark @click="$emit('next')">>>></v-btn>
      </v-card-actions>
    </v-layout>
  </v-card>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.choice-body {
  font-size: 1.25em;
}
</style>
