<template>
  <v-img :src="curSrc" v-bind="$attrs"></v-img>
</template>

<script>
// Blank image with fill template
const BLANK_TEMPLATE = '<svg width="%{w}" height="%{h}" ' + 'xmlns="http://www.w3.org/2000/svg" ' + 'viewBox="0 0 %{w} %{h}" preserveAspectRatio="none">' + '<rect width="100%" height="100%" style="fill:%{f};"></rect>' + '</svg>';

function makeBlankImgSrc(width, height, color) {
  const src = encodeURIComponent(BLANK_TEMPLATE.replace('%{w}', String(width)).replace('%{h}', String(height)).replace('%{f}', color))
  return 'data:image/svg+xml;charset=UTF-8,' + src
}

// Component uses IntersectionObserver to implement a lazy-loading image
//
export default {
  name: 'v-img-lazy',
  props: {
    src: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      curSrc: makeBlankImgSrc(100, 10, 'transparent'),
      loaded: false
    }
  },
  methods: {
    // method will be called when an intersection is detected
    intersect (entries, observer) {
      entries.forEach(entry => {
        if (entry.intersectionRatio > 0 && entry.target === this.$el) {
          // effect a load by assigning the current source
          observer.unobserve(entry.target)
          this.curSrc = this.src
          this.loaded = true
        }  
      })     
    }
  },
  watch: {
    // update the current source if the source property changes
    src () {
      if (this.loaded)
        this.curSrc = this.src
    }
  },
  mounted () {
    let io = new IntersectionObserver(this.intersect, { rootMargin: "100px 0px" })
    io.observe(this.$el)
  }
}
</script>

<style>

</style>
