<template>
  <v-card class="popper" v-show="show">
    <v-card-text>
      <slot></slot>
    </v-card-text>
    <div class="x-arrow"></div>
  </v-card>
</template>

<script>
import Popper from 'popper.js'

export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    reference: {
      type: HTMLElement,
      default: null
    }
  },

  data: () => ({
    popperInst: null
  }),

  watch: {
    show () {
      this.updatePopper()
    },
    reference () {
      this.updatePopper()
    }
  },

  methods: {
    updatePopper () {
      if (this.popperInst) {
        this.popperInst.destroy()
        this.popperInst = null
      }
      if (this.reference && this.show) {
        this.popperInst = new Popper(this.reference, this.$el, {
          placement: 'bottom',
          positionFixed: true,
          modifiers: {
            offset: {
              offset: '0, 5'
            },
            computeStyle: { gpuAcceleration: false }
            /*applyStyle: { enabled: false },
            applyVueStyle: {
              enabled: true,
              fn: this.applyVueStyle,
              order: 900
            }*/
          }
        })
      }
    },

    /*applyVueStyle (data, options) {
      console.log('style')

    }*/
  }
}
</script>

<style lang="scss" scoped>
.popper {
  position: fixed;
  z-index: 200000;
  max-width: 40%;
  background: white;

  .x-arrow {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }

  &[x-placement='bottom'] .x-arrow {
    top: -10px;
    left: 50%;
    border-color: transparent transparent white transparent;
  }
  &[x-placement='top'] .x-arrow {
    bottom: -10px;
    left: 50%;
    border-color: white transparent transparent transparent;
  }
  &[x-placement='left'] .x-arrow {
    right: -10px;
    top: 50%;
    border-color: transparent transparent transparent white;
  }
  &[x-placement='right'] .x-arrow {
    left: -10px;
    top: 50%;
    border-color: transparent white transparent transparent;
  }
}

@media (max-width: 960px) {
  .popper {
    max-width: 90%;
    left: 5%;
  }
}
</style>
