<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Megalomyrmex </span>
        <span class="font-weight-light">Key </span>
        <span class="font-weight-light text-lowercase">(Worker)</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-if="started" flat @click="$refs.home.reset()">
        <span class="mr-2">Reset</span>
      </v-btn>
      <!-- Add to Desktop button for browsers that support PWAs -->
      <v-btn v-else-if="installPrompt" color="#4DBA87" @click="addToDesktop">
        <span class="mx-2">Install</span>
      </v-btn>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    </v-toolbar>

    <v-content>
      <Home ref="home" @start="started = true"/>
    </v-content>

    <v-navigation-drawer right temporary v-model="drawer" fixed>
      <v-list dense>
        <v-list-tile v-if="installPrompt" @click="addToDesktop">
          <v-list-tile-action>
            <v-icon>file_download</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Install app to desktop</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="openKey">
          <v-list-tile-action>
            <v-icon>book</v-icon>
          </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Published key (Zootaxa) <v-icon :style="{ 'font-size': '1em' }">launch</v-icon></v-list-tile-title>
        </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>copyright</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>2019 <a href="http://www.x-valid.com" target="_blank" rel="noreferrer noopener">xValid Solutions</a></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import Home from './views/Home'

export default {
  name: 'App',
  components: {
    Home
  },

  data: () => ({
    drawer: false,
    installPrompt: null,
    started: false
  }),

  created () {
    // PWA install support
    self.addEventListener('beforeinstallprompt', e => {
      // Prevent Chrome 67 and earlier from automatically showing the prompt
      e.preventDefault()
      // Stash the event so it can be triggered later.
      this.installPrompt = e
    })
  },

  methods: {
    openKey () {
      window.open('http://dx.doi.org/10.11646/zootaxa.3732.1.1', '', 'noopener')
    },

    addToDesktop () {
      if (this.installPrompt) {
        // Ask the user if they want to install
        this.installPrompt.prompt()
        // Clear the saved prompt, since it can't be reused
        this.installPrompt.userChoice.then(() => this.installPrompt = null)
      }
    }
  }
}
</script>
